.navbar-dark {
  background-color: #512da8;
}

.content {
  margin: 10px;
}

.dish-image {
  width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 625px;
}

.img-caption {
  text-align: center;
  font-weight: 700;
}

.img-div {
  background: darkgray;
  padding: 10px;
}

.footer {
  background-color: #d1c4e9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid > div {
  flex-basis: calc(100% - 40px);
}

.box {
  margin: 10px;
}

img.card-img-top {
  height: 200px;
}

.input-btn {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.input-btn > button {
  margin-left: 10px;
}

@media screen and (min-width: 480px) {
  .grid > div {
    flex-basis: calc(100% - 40px);
  }
}

@media screen and (min-width: 768px) {
  .grid > div {
    flex-basis: calc(50% - 40px);
  }
}
